html, body {
  background-color: black;
  height: 100%;
  body: 100%;
}

.mainContainer {
  position: relative;
  width: 1000px;
  height: 700px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  overflow: hidden;
}

/*-SIDE 1-*/
/*-Scene 1--*/
#articleContainer{
  /*farge som gammelt papir*/
 /*background-color: rgb(243,236,226);*/
background-color: rgb(200, 190, 191);

  overflow-y: scroll;
}
/*--dato--*/
#dato{
  position: absolute;

  top: 0;
  left: 875px;

  margin: 10px;
  padding: 10px;
  border-radius: 10%;

  /*samme farge som ramme, men svakt*/
  background-color: rgba(143,136,126,0.5);

  text-decoration: underline;
}
/*END, dato*/
/*--bilder til artikkel--*/
.articleImages{
  position: absolute;
  display: inline;

  /*ramme rundt*/
  background-color: rgb(143,136,126);
  padding: 15px;

  border-radius: 2.5%;

  height: 450px;
  width: 450px;

  transition-duration: 0.5s;
}
.articleImages:hover{
  /*"pop"-effekt*/
  transform-origin: center;
  transform: scale(1.05);

  padding: 10px;/*minske bakgrunnsfarge/ramme rundt når størrelsen økes*/
}
#articleImage1{
   margin: 25px;
}
#articleImage1:hover #meteorContainer{
  animation-name: meteorFall;
}
#articleImage2{
  bottom: -320px;
  left: 500px;

<<<<<<< HEAD
  margin-bottom: 30px;
=======
  margin-bottom: 20px;
>>>>>>> 7dbe95d5d92d1bd812776ff3ac5d53af20a5f61b
}
/*--tegning av bilde1--*/
#articleImage1Container{
  position: relative;

  background-color: darkblue;

  height: inherit;
  width: inherit;

  overflow: hidden;
}
/*--planetEarth--*/
#planetEarth{
  position: absolute;
  /*continenter "går over" horisonten*/
  overflow: hidden;

  width: 700px;
  height: 700px;

  background-color: lightskyblue;

  top: 300px;
  left: -200px;

  border-radius: 50%;
}
/*--END, planetEarth--*/
/*--continents--*/
.continents{
  position: absolute;
  background-color: green;
}
#continent1{
  width: 80px;
  height: 120px;

  left: 545px;
  top: 60px;

  transform: rotate(120deg);

  border-top-right-radius: 20%;
  border-top-left-radius: 40%;
  border-bottom-right-radius: 90%;
  border-bottom-left-radius: 100%;
}
#continent2{
  width: 200px;
  height: 100px;

  left: 120px;
  top: 10px;

  border-top-right-radius: 60%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 80%;
}
#continent3{
  width: 250px;
  height: 60px;

  left: 300px;
  top: 0;

  border-top-right-radius: 60%;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 80%;
}
/*--END,continents--*/
/*--meteorContainer--*/

#meteorContainer{
  position: relative;

  top: -100px;

  width: 200px;
  height: 200px;

  /*animation-name settes ved hover på bildet*/
  animation-duration: 2s;
  animation-direction: forwards;
}
@keyframes meteorFall {
  from{
    top: -100px;
    left: 0;
    transform: scale(1);
  }
  to{
    top: 200px;
    left: -350px;
    transform: scale(1.6);
  }
}
/*--END, meteorContainer--*/
/*--meteor--*/
#meteor{
  position: absolute;
  background-color: rgb(55, 26, 4);

  width: 75px;
  height: 75px;

  top: 200px;
  left: 180px;

  border-radius: 50%;
}
.meteorTail{
  position: absolute;

  height: 100px;
  width: 25px;

  border-top-left-radius: 70%;
  border-top-right-radius: 70%;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate-reverse;
}
.meteorTailGroup1{
  background-color: rgb(223, 216, 46);

  border-style: solid;
  border-color: rgb(194, 40, 7);

  animation-name: meteorTailGroup1Pulse;
  animation-duration: 3s;
}
.meteorTailGroup2{
  background-color: rgb(194, 40, 7);

  animation-name: meteorTailGroup2Pulse;
  animation-duration: 1s;
}
#meteorTail1{
  top: 110px;
  left: 240px;
}
#meteorTail2{
  top: 70px;
  left: 260px;

  height:150px;
}
#meteorTail3{
  top:75px;
  left: 280px;

  height: 150px;
}
#meteorTail4{
  top: 145px;
  left: 260px;
}
@keyframes meteorTailGroup1Pulse {
  from{
    transform: scale(1.2) rotate(35deg);
  }
  to{
    transform: scale(1) rotate(35deg);
  }
}
@keyframes meteorTailGroup2Pulse {
  from{
    transform: scale(1) rotate(35deg);
  }
  to{
    transform: scale(1.1) rotate(35deg);
  }
}
/*--END, meteor--*/
/*--stars--*/
.stars{
  position: absolute;

  background-color: whitesmoke;

  width: 15px;
  height: 15px;

  border-radius: 50%;

  animation-name: starGlow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: linear;
}
#star1{
  top: 20px;
  left: 100px;
}
#star2{
  top: 50px;
  left: 400px;
}
#star3{
  top: 240px;
  left: 20px;
}
#star4{
  top: 410px;
  left: 435px;
}
#star5{
  top: -10px;
  left: 300px;
}
@keyframes starGlow {
  from{
    background-color: rgba(255,255,255,0.8);
    transform: scaleX(1.2);
  }
  to{
    background-color: rgba(255,255,255);
    transform: scaleY(1.2);
  }
}
/*--END, stars--*/

/*--END, tegning av bilde1--*/
/*--END, bilder til artikkel--*/
/*--tekster til artikkel--*/
.artikkelTekster{
  position: absolute;
  display: block;
  width: 400px;

  border-radius: 2.5%;

  transition-duration: 1s;

  font-size: 1.5em;
}
.artikkelTekster:hover{
  /*bakgrunn endres for å gjøre tekst tydligere*/
  background-color: rgba(0, 0, 0, 0.1);

  border-radius: 7.5%;
  border-style: solid;
  border-color: rgba(0,0,0,0.8);
}
.artikkelTekster h1, .artikkelTekster h2, .artikkelTekster p{
  margin-left:40px;
}
.artikkelTekster:hover > h2{
  text-decoration: underline;
}
#artikkelTekst1{
  top: 70px;
  left: 540px;
}
#artikkelTekst2{
  bottom: -200px;
  left: 50px;
}
/*END, tekster til artikkel*/

/*-END, Scene 1-*/
/*-Scene 2-*/
#boardingContainer{
  background-color: lightskyblue;
  z-index: 200px;
}

#mountainLeft1 {
  position: absolute;
  background-color: grey;
  width: 600px;
  height: 600px;
  left: 90px;
  top: 300px;
  transform: rotate(45deg);
  overflow: hidden;
  z-index: 99;
}
#mountainLeftTop1  {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 100px;
  left: -50px;
  top: -50px;
  transform: rotate(-45deg);
}
#mountainRight1  {
  position: absolute;
  background-color: darkgrey;
  width: 600px;
  height: 600px;
  left: 500px;
  top: 350px;
  transform: rotate(35deg);
  overflow: hidden;
  z-index: 99;
}
#mountainRightTop1 {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 100px;
  left: -45px;
  top: -65px;
  transform: rotate(-35deg);
}
#grass {
position: absolute;
width:1000px;
height: 100px;
bottom: 0px;
background-color: green;
z-index: 100;
}
#girrafe{
  position: absolute;
  width: 150px;
  height: 300px;
  bottom: 20px;
  left: 500px;
  z-index: 102;
  animation-name: boarding;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}
@keyframes boarding {
    0%{
      left: 450px;
      bottom: 20px;
      transform: rotate(0deg);
    }
  10%{
      left: 400px;
      bottom: 20px;
      transform: rotate(0deg);
    }

    15%{
        left: 390px;
        bottom: 20px;
        transform: rotate(30deg);
      }

    20%{
      left:380px;
      bottom: 20px;
      transform: rotate(35deg);
      height:280px;
    }
    30%{
      left:370px;
      bottom: 20px;
      transform: rotate(35deg);
      height: 270px;
    }
    /* vinkler her */
    40%{
      left:360px;
      bottom:20px;
      transform: rotate(35deg);
      height:260px;
    }
    50%{
      left:350px;
      bottom:20px;
      transform: rotate(35deg);
      height:250px;
    }
    /* deler opp til +5% */
    55%{
      left:340px;
      bottom:40px;
      transform: rotate(35deg);
      height:230px;
    }
    60%{
      left:330px;
      bottom:50px;
      transform: rotate(35deg);
      height:210px;
    }
  65%{
      left:320px;
      bottom:70px;
      transform: rotate(30deg);
      height:;
    }
    70%{
      left:300px;
      bottom:90px;
      transform: rotate(25deg);
      height:;
    }
    75%{
      left:280px;
      bottom:110px;
      transform:rotate(20deg);;
      height:;
      width:;
    }
    80%{
      left:270px;
      bottom:120px;
      transform:rotate(15deg);;
      height:;
      width:;
    }
    85%{
      left:230px;
      bottom:125px;
      transform:
      height:;
      width:;
    }
    90%{
      left:200px;
      bottom: 130px;
      transform:rotate(20deg);
      height:;
      width:;
    }
    95%{
      left:150px;
      bottom:135px;
      transform:;
      height:;
      width:;
    }
    100%{
      left:80px;
      bottom:140px;
      transform:;
      height:;
      width:;
    }
}


#sheep{
  position: absolute;
  width: 120px;
  height: 70px;
  bottom: 20px;
  left: 700px;
  z-index: 103;
}
#pig{
  position: absolute;
  width: 120px;
  height: 70px;
  bottom: 20px;
  left: 860px;
  z-index: 104;
}
#rakett-full{
  position: absolute;
  width: 450px;
  height: 650px;
  bottom: 10px;
  left: 11px;
  z-index: 100;
}
#rakett-halv{
  position: absolute;
  width: 252px;
  height: 518px;
  bottom: 140px;
  left: 50px;
  z-index: 105;
}

#skrift{
  position: absolute;
  width: 200px;
  height: 120px;
  bottom: 250px;
  left: 85px;
  color: white;
  font-family: "Bangers";
  z-index:106;
}

#skrift:hover{
  color:yellow;
}



/*-END, Scene 2-*/
/*-END, SIDE 1-*/

/*-SIDE 2-*/
/*-Scene 3-*/
#controlPanelContainer {
  z-index: 98;
  position: relative;
  margin-top: 0px;
  overflow: visible;
}

#controlPanelContainerChildTest {
  /* NOTE: fjern denne linjen etter launchBackground ferdig */
  /*margin-top: 3000px;*/

  position: relative;
  background-color: lightskyblue;
  z-index: 98;
  animation-name: shake;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-play-state: paused;

  /* NOTE: sett til Hidden etter launchBackground er ferdig */
  /*overflow:visible;*/
}

/*-text-*/
#fremtidensArkText {
  position: absolute;
  color: white;
  font-size: 50px;
  font-family: Impact;
  left: 333px;
  top: -15px;
  z-index: 150;
}
/*-END, text-*/

/*-windowFrame-*/
.windowFrame {
  position: absolute;
  background-color: grey;
}
#topFrame {
  width: 1000px;
  height: 100px;
  left:0px;
  top:0px;
  border-bottom: 2px solid black;
  z-index: 103;
}
#bottomFrame {
  width: 1000px;
  height: 50px;
  top: 375px;
  border-top: 2px solid black;
  z-index: 104;
}
#windowFrameRight {
  width: 35px;
  height: 400px;
  left: 750px;
  top: 40px;
  border: 2px solid black;
  transform: rotate(-30deg);
  z-index: 101;
}

#windowFrameLeft {
  width: 35px;
  height: 400px;
  left: 210px;
  top: 40px;
  border: 2px solid black;
  transform: rotate(30deg);
  z-index: 102;
}
#windowShine {
  position: absolute;
  background-color: white;
  width: 200px;
  height: 500px;
  left: 900px;
  bottom: 300px;
  transform: rotate(-20deg);
  opacity: 0.2;
  z-index: 98;
}
/*-END, windowControlpanel-*/

/*-controlPanel-*/
#controlPanel {
  position: absolute;
  background-color: lightgrey;
  width: 1000px;
  height: 280px;
  bottom: 0px;
  z-index: 105;
}
#controlPanelText {
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Impact;
  letter-spacing: 5px;
  left: 375px;
  top: 400px;
  z-index: 200;
}
#display {
  position: absolute;
  background-color: rgb(70, 70, 70);
  width: 400px;
  height: 150px;
  left: 295px;
  bottom: 75px;
  border: 5px solid;
  border-color: black;
  border-radius: 20px;
  overflow: hidden;
  z-index: 106;
}
#displayShine {
  position: absolute;
  background-color: white;
  width: 200px;
  height: 250px;
  left: 330px;
  bottom: 5px;
  transform: rotate(-20deg);
  opacity: 0.2;
}
.displayContent {
  margin: auto;
  padding: 10px;
  color: green;
  display: none;
}
.displayContent:target {
  display: block;
}

.usableButtons {
  display: block;
  position: absolute;
  width: 90px;
  height: 40px;
  bottom: 25px;
	font-size: 40px;
	text-decoration: none;
	text-align: center;
	transition: all .1s ease-in-out;
  z-index: 107;
  border-radius: 10px;
}


.usableButtons:hover {

}

#buttonShadowBensin{
  width: 90px;
  height: 40px;
  bottom: 18px;
  z-index: 106;
  left: 295px;
  background-color: rgb(235, 235, 0);
}
#buttonBensin:active{
  transform: translateY(5px);
}
#buttonBensin {
  background-color: yellow;
  left: 295px;
}

#buttonShadowReise{
  width: 90px;
  height: 40px;
  bottom: 18px;
  z-index: 106;
  left: 400px;
  background-color: rgb(153, 196, 210);
}
#buttonReise:active{
  transform: translateY(5px);
}
#buttonReise {
  background-color: lightblue;
  left: 400px;
}

#buttonShadowNASA{
  width: 90px;
  height: 40px;
  bottom: 18px;
  z-index: 106;
  left: 505px;
  background-color: rgb(235, 145, 0);
}
#buttonNASA:active{
  transform: translateY(5px);
}
#buttonNASA {
  background-color: orange;
  left: 505px;
}

#buttonShadowDyr{
  width: 90px;
  height: 40px;
  bottom: 18px;
  z-index: 106;
  left: 610px;
  background-color: rgb(124, 218, 124);
}
#buttonDyr:active{
  transform: translateY(5px);
}
#buttonDyr {
  background-color: lightgreen;
  left: 610px;
}

#leverPart1 {
  position: absolute;
  width: 10px;
  height: 160px;
  left: 740px;
  bottom: 75px;
  background-color: black;
  z-index: 108;
  border: 1px solid black;
  border-radius: 20px;
}
#launchHidden{
  position: absolute;
  z-index: 109;
  width: 40px;
  height: 170px;
  left: 730px;

  /* NOTE: sett tilbake til -69px */
  bottom: -69px;
}
#launchBackground{
  position: absolute;
  width: 1000px;
  height: 1500px;
  background-color: lightskyblue;
  bottom: 300px;
  transition-duration: 25s;
  transition-property: all
}

#backgroundStar1{
  left: 200px;
  bottom: 1400px;
}
#backgroundStar2{
  left: 256px;
  bottom: 1300px;
}
#backgroundStar3{
  left: 400px;
  bottom: 1200px;
}
#backgroundStar4{
  left: 520px;
  bottom: 1250px;
}
#backgroundStar5{
  left: 150px;
  bottom: 1050px;
}
#backgroundStar6{
  left: 345px;
  bottom: 1025px;
}
#backgroundStar7{
  left: 660px;
  bottom: 1434px;
}
#backgroundStar8{
  left: 100px;
  bottom: 1190px;
}
#backgroundStar9{
  left: 534px;
  bottom:1060px;
}
#backgroundStar10{
  left: 543px;
  bottom: 1150px;
}
#backgroundStar11{
  left: 760px;
  bottom: 1434px;
}
#backgroundStar12{
  left: 800px;
  bottom: 1190px;
}
#backgroundStar13{
  left: 734px;
  bottom:1050px;
}
#backgroundStar14{
  left: 743px;
  bottom: 1150px;
}
#backgroundStar15{
  left: 650px;
  bottom: 1090px;
}
#backgroundStar16{
  left: 825px;
  bottom: 1190px;
}

.cloud{
  position: absolute;
  background-color: white;
  width: 100px;
  height: 50px;
  border-radius: 50%;
}

/*-CLOUD 1-*/
#c1{
  bottom: 500px;
  left: 500px;
}
#c2{
  bottom: 480px;
  left: 550px;
}
#c3{
  bottom: 510px;
  left: 450px;
}
#c4{
  bottom: 515px;
  left: 530px;
}
#c5{
  bottom: 485px;
  left: 475px;
}

/*-CLOUD 2-*/
#c6{
  bottom: 600px;
  left: 200px;
}
#c7{
  bottom: 640px;
  left: 200px;
}
#c8{
  bottom: 610px;
  left: 150px;
}
#c9{
  bottom: 615px;
  left: 230px;
}
#c10{
  bottom: 645px;
  left: 265px;
}

#launchHidden:hover ~ #controlPanelContainerChildTest #launchBackground{
  bottom: -800px;
  background-color: black;
}
#launchHidden:hover ~ #controlPanelContainerChildTest{
  animation-play-state: running;
}
#launchHidden:hover ~ #controlPanelContainerChildTest #nextSide{
    z-index: 110;
}
#launchHidden:hover ~ #controlPanelContainerChildTest #leverPart2{
    bottom: 82px;
}
#launchHidden:hover ~ #controlPanelContainerChildTest #mountains{
    top: 700px;
}

#nextSide {
    background-color: blue;
    transition-property: all;
    transition-delay: 0s;
    transition-duration: 50s;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 726px;
    bottom: 29px;
    z-index: 106;
    border-radius: 50%;
}
#leverPart2{
    transition: all 5s ease-in-out 10s;
    position: absolute;
    width: 60px;
    height: 20px;
    bottom: 210px;
    left: 715px;
    border-radius: 20px;
    background-color: grey;
    z-index: 108;
}
#launchButton {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 726px;
  bottom: 29px;
  background-color: red;
  z-index: 108;
  border-radius: 50%;
}

#leverPart2{
    transition: all 1s;
    position: absolute;
    width: 60px;
    height: 20px;
    bottom: 210px;
    left: 716px;
    border-radius: 20px;
    background-color: grey;
    z-index: 108;
}

/*-END, controlPanel-*/

/*-background-*/
#mountains{
    transition-property: all;
    transition-duration: 15s;
    position: absolute;
    width: 1000px;
    height: 271px;
    z-index: 100;
    top: 104px;
    overflow: hidden;
}
#mountainLeft {
  position: absolute;
  background-color: darkgreen;
  width: 500px;
  height: 500px;
  left: 90px;
  top: 140px;
  transform: rotate(45deg);
  overflow: hidden;
  z-index: 100;
}
#mountainLeftTop  {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 100px;
  left: -50px;
  top: -50px;
  transform: rotate(-45deg);
}
#mountainRight  {
  position: absolute;
  /*background-color: rgb(150, 150, 150);*/
  background-color: green;
  width: 500px;
  height: 500px;
  left: 450px;
  top: 200px;
  transform: rotate(35deg);
  overflow: hidden;
  z-index: 99;
}
#mountainRightTop {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 100px;
  left: -45px;
  top: -65px;
  transform: rotate(-35deg);
}

/* NOTE: Flytt launchBackground til her */
/*-END, background-*/

@keyframes shake{
    0%{
        left: 10px;
    }
    10%{
        bottom: 10px;
    }
    20%{
        left: 0px;
    }
    30%{
        bottom:0px;
    }
    40%{
        left: -10px;
    }
    50%{
        bottom: -10px;
    }
    60%{
        bottom: 10px;
    }
    70%{
        left: 0px;
    }
    80%{
        bottom:0px;
    }
    90%{
        left: -10px;
    }
    100%{
        left: 0px;
        bottom: 0px;
    }
}
/*-END, Scene 3-*/

/*-END, SIDE 2-*/

/*-SIDE 3-*/
/*-Scene 4*/
#solarsystemContainer {
  border: 1px solid white;
  background-color: black;
  z-index: 98;
}

/*-solarsystem-*/
.planetRotation {
  position: absolute;
  width: 600px;
  height: 600px;
  left: 200px;
  top: 50px;
}
#sun {
  position: absolute;
  background-color: yellow;
  width: 70px;
  height: 70px;
  left: 265px;
  top: 265px;
  border: 0px solid;
  border-radius: 100%;
  animation: sunGlow 7s linear infinite;
}
#sunDiv {
  z-index: 50;
}
#mercury {
  position: absolute;
  background-color: lightgrey;
  width: 15px;
  height: 15px;
  left: 292.5px;
  top: 345px;
  border: 0px solid);
  border-radius: 100%;
}
#mercuryDiv {
  animation: rotateSolarsystem 5s linear infinite;
  z-index: 49;
}
#venus {
  position: absolute;
  background-color: brown;
  width: 20px;
  height: 20px;
  left: 290px;
  top: 205px;
  border: 0px solid);
  border-radius: 100%;
}
#venusDiv {
  animation: rotateSolarsystem 10s linear infinite;
  z-index: 48;
}
#earth {
  position: absolute;
  background-color: lightskyblue;
  width: 30px;
  height: 30px;
  left: 285px;
  top: 400px;
  border: 0px solid;
  border-radius: 100%;
}
#earthSpot1 {
  position: absolute;
  background-color: lightgreen;
  width: 10px;
  height: 15px;
  left: 5px;
  top: 0px;
  transform: rotate(60deg);
  border: 0px solid;
  border-radius: 100%;
}
#earthSpot2 {
  position: absolute;
  background-color: lightgreen;
  width: 20px;
  height: 10px;
  left: 5px;
  top: 19px;
  border: 0px solid;
  border-radius: 100%;
}
#earthSpot3 {
  position: absolute;
  background-color: lightgreen;
  width: 10px;
  height: 10px;
  left: 19px;
  top: 7px;
  border: 0px solid;
  border-radius: 100%;
}
#earthDiv {
  animation: rotateSolarsystem 15s linear infinite;
  z-index: 47;
}
#mars {
  position: absolute;
  background-color: rgb(238, 128, 38);
  width: 25px;
  height: 25px;
  left: 287.5px;
  top: 130px;
  border: 0px solid;
  border-radius: 100%;
}
#marsSpot1 {
  position: absolute;
  background-color: rgb(179, 64, 0);
  width: 7px;
  height: 7px;
  left: 10px;
  top: 13px;
  border: 0px solid;
  border-radius: 100%;
}
#marsSpot2 {
  position: absolute;
  background-color: rgb(179, 64, 0);
  width: 3px;
  height: 3px;
  left: 5px;
  top: 13px;
  border: 0px solid;
  border-radius: 100%;
}
#marsDiv {
  animation: rotateSolarsystem 20s linear infinite;
  z-index: 46;
}
#jupiter {
  position: absolute;
  background-color: beige;
  width: 40px;
  height: 40px;
  left: 280px;
  top: 475px;
  border: 0px solid;
  border-radius: 100%;
}
#jupiterSpot1 {
  position: absolute;
  background-color: rgb(208, 210, 182);
  width: 10px;
  height: 10px;
  left: 15px;
  top: 13px;
  border: 0px solid;
  border-radius: 100%;
}
#jupiterSpot2 {
  position: absolute;
  background-color: rgb(208, 210, 182);
  width: 5px;
  height: 5px;
  left: 7px;
  top: 13px;
  border: 0px solid;
  border-radius: 100%;
}
#jupiterDiv {
  animation: rotateSolarsystem 25s linear infinite;
  z-index: 45;
}
#saturn {
  position: absolute;
  background-color: lightyellow;
  width: 40px;
  height: 40px;
  left: 280px;
  top: 30px;
  border: 0px solid);
  border-radius: 100%;
}
#saturnbelt {
  position: absolute;
  background-color: brown;
  width: 5px;
  height: 60px;
  left: 18px;
  top: -10px;
  transform: rotate(45deg);
  border: 0px solid white;
  border-radius: 25%;
}
#saturnDiv {
  animation: rotateSolarsystem 30s linear infinite;
  z-index: 44;
}
#uranus {
  position: absolute;
  background-color: lightblue;
  width: 30px;
  height: 30px;
  left: 285px;
  top: 575px;
  border: 0px solid;
  border-radius: 100%;
}
#uranusDiv {
  animation: rotateSolarsystem 35s linear infinite;
  z-index: 43;
}
#neptune {
  position: absolute;
  background-color: rgb(65, 118, 255);
  width: 30px;
  height: 30px;
  left: 285px;
  top: -50px;
  border: 0px solid);
  border-radius: 100%;
}
#neptuneDiv {
  animation: rotateSolarsystem 40s linear infinite;
  z-index: 42;
}

@keyframes rotateSolarsystem {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sunGlow {
  0% {
    background-color: yellow;
  }
  50% {
    background-color: rgb(255, 181, 18);
  }
  100% {
    background-color: yellow;
  }
}
/*-END, solarsystem-*/
/*-systemStars-*/
.systemStars {
  position: absolute;
  background-color: whitesmoke;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  z-index: 41;
}
#systemStar1 {
  animation: systemStarglow 1s infinite alternate-reverse linear;
  left: 100px;
  top: 80px;
}
#systemStar2 {
  animation: systemStarglow 3s infinite alternate-reverse linear;
  left: 480px;
  top: 110px;
}
#systemStar3 {
  animation: systemStarglow 2s infinite alternate-reverse linear;
  left: 900px;
  top: 70px;
}
#systemStar4 {
  animation: systemStarglow 3s infinite alternate-reverse linear;
  left: 120px;
  top: 230px;
}
#systemStar5 {
  animation: systemStarglow 1s infinite alternate-reverse linear;
  left: 790px;
  top: 200px;
}
#systemStar6 {
  animation: systemStarglow 3s infinite alternate-reverse linear;
  left: 530px;
  top: 210px;
}
#systemStar7 {
  animation: systemStarglow 2s infinite alternate-reverse linear;
  left: 300px;
  top: 300px;
}
#systemStar8 {
  animation: systemStarglow 1s infinite alternate-reverse linear;
  left: 600px;
  top: 330px;
}
#systemStar9 {
  animation: systemStarglow 1s infinite alternate-reverse linear;
  left: 860px;
  top: 310px;
}
#systemStar10 {
  animation: systemStarglow 3s infinite alternate-reverse linear;
  left: 50px;
  top: 400px;
}
#systemStar11 {
  animation: systemStarglow 2s infinite alternate-reverse linear;
  left: 360px;
  top: 400px;
}
#systemStar12 {
  animation: systemStarglow 3s infinite alternate-reverse linear;
  left: 740px;
  top: 400px;
}
#systemStar13 {
  animation: systemStarglow 3s infinite alternate-reverse linear;
  left: 180px;
  top: 510px;
}
#systemStar14 {
  animation: systemStarglow 1s infinite alternate-reverse linear;
  left: 420px;
  top: 490px;
}
#systemStar15 {
  animation: systemStarglow 2s infinite alternate-reverse linear;
  left: 930px;
  top: 520px;
}
#systemStar16 {
  animation: systemStarglow 3s infinite alternate-reverse linear;
  left: 40px;
  top: 630px;
}
#systemStar17 {
  animation: systemStarglow 1s infinite alternate-reverse linear;
  left: 400px;
  top: 610px;
}
#systemStar18 {
  animation: systemStarglow 2s infinite alternate-reverse linear;
  left: 700px;
  top: 600px;
}
#systemStar19 {
  animation: systemStarglow 1s infinite alternate-reverse linear;
  left: 300px;
  top: 50px;
}
#systemStar20 {
  animation: systemStarglow 2s infinite alternate-reverse linear;
  left: 200px;
  top: 650px;
}
@keyframes systemStarglow {
  from{
    background-color: rgba(255,255,255,0.5);
    transform: scaleX(1.2);
  }
  to{
    background-color: rgba(255,255,255);
    transform: scaleY(1.2);
  }
}
/*-END, systemStars-*/
/*-END, Scene 4*/
/*-Scene 5*/
/*--marsContainer*/
#marsContainer{
  border-style: solid;
  border-color: white;
}
/*--END, marsContainer*/
/*--planetMarsDiv--*/
#planetMarsDiv{
  /*bruker animasjon fra solsystem*/
  animation-name: rotateSolarsystem;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
/*--END, planetMarsDiv--*/

/*--mars--*/
#planetMars{
  position: absolute;
  /*flekker "går over" horistonten*/
  overflow: hidden;

  background-color: rgb(238, 128, 38);

  border-radius: 50%;

  width: 500px;
  height: 500px;

  /*i midten av sin div*/
  top: 50px;
  left: 50px;
}
/*--END, mars--*/
/*--marsSpots--*/
.planetMarsSpots{
  position: absolute;
  background-color: rgb(234, 107, 2);

  width: 100px;
  height: 50px;

  border-style: solid;
  border-width: 3px;
}
#planetMarsSpot1{
  width: 200px;

  top: 100px;
  left: 0;

  transform: rotate(-50deg);

  border-top-right-radius: 150%;
  border-top-left-radius: 70%;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 100%;
}
#planetMarsSpot2{
  top: 450px;
  left: 300px;

  border-top-left-radius: 170%;
  border-bottom-left-radius: 50%;
}
#planetMarsSpot3{
  top: 100px;
  left: 400px;

  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
/*--END, marsSpots--*/
/*--landedRocket--*/
#landedRocket{
  position: absolute;

  height: 200px;
  transform: rotate(314deg);

  top: -45px;
}
/*--END, landedRocket--*/
/*-END, Scene 5*/
/*-END, SIDE 3-*/
