html, body {
  background: black;
  height: 100%;
  body: 100%;
}

.mainContainer {
  position: relative;
  width: 1000px;
  height: 700px;
  margin: auto;
  margin-top: 100px;
  overflow: hidden;
}

/*-SIDE 1-*/
/*-Scene 1-*/
#artikkelContainer{
  /*farge som gammelt papir*/
  background-color: rgb(243,236,226);

  overflow-y: scroll;
}
/*bilder til artikkel*/
.artikkelBilder{
  position: absolute;
  display: inline;
  padding: 20px;

  background-color: rgb(243,236,226);

  height: 400px;

  transition-duration: 0.5s;
}
.artikkelBilder:hover{
  /*"pop"-effekt*/
  transform: scale(1.01);
  padding: 15px;
  background-color: rgba(143,136,126,1);
}
#artikkelBilde1{
   margin: 25px;
}
#artikkelBilde2{
  top: 650px;
  left: 550px;
}
/*END, bilder til artikkel*/
/*tekster til artikkel*/
.artikkelTekster{
  position: absolute;
  display: block;
  width: 250px;

  border-radius: 10%;

  transition-duration: 1s;
}
.artikkelTekster:hover{
  /*bakgrunn endres for å gjøre tekst tydligere*/
  background-color: rgba(0, 0, 0, 0.1);

  border-radius: 15%;
  border-style: solid;
  border-color: rgba(0,0,0,0.8);
}
.artikkelTekster h1, .artikkelTekster h2, .artikkelTekster p{
  margin-left: 10px;
}
#artikkelTekst1{
  top: 150px;
  left: 600px;
}
#artikkelTekst2{
  bottom: -350px;
  left: 150px;
}
/*END, tekster til artikkel*/

/*-END, Scene 1-*/
/*-Scene 2-*/
#boardingContainer{
  background-color: lightskyblue;
  z-index: 200px;
}

#mountainLeft1 {
  position: absolute;
  background-color: darkgrey;
  width: 600px;
  height: 600px;
  left: 90px;
  top: 250px;
  transform: rotate(45deg);
  overflow: hidden;
  z-index: 100;
}
#mountainLeftTop1  {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 100px;
  left: -50px;
  top: -50px;
  transform: rotate(-45deg);
}
#mountainRight1  {
  position: absolute;
  background-color: darkgrey;
  width: 600px;
  height: 600px;
  left: 450px;
  top: 50px;
  transform: rotate(35deg);
  overflow: hidden;
  z-index: 100;
}
#mountainRightTop1 {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 100px;
  left: -45px;
  top: -65px;
  transform: rotate(-35deg);
}
#grass {
position: absolute;
width:1000px;
height: 100px;
bottom: 0px;
z-index: 101;
}
#girrafe{
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 20px;
  left: 100px;
  z-index: 102;
}
#sheep{
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 20px;
  left: 100px;
  z-index: 103;
}
#pig{
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 20px;
  left: 100px;
  z-index: 104;
}

/*-END, Scene 2-*/
/*-END, SIDE 1-*/

/*-SIDE 2-*/
/*-Scene 3-*/
#controlPanelContainer  {
  background-color: lightskyblue;
  z-index: 98;
}

/*-text-*/
#fremtidensArkText {
  position: absolute;
  color: white;
  font-size: 50px;
  font-family: Impact;
  left: 333px;
  top: -15px;
  z-index: 150;
}
/*-END, text-*/

/*-windowFrame-*/
.windowFrame {
  position: absolute;
  background-color: grey;
}
#topFrame {
  width: 1000px;
  height: 100px;
  left:0px;
  top:0px;
  border-bottom: 2px solid black;
  z-index: 103;
}
#bottomFrame {
  width: 1000px;
  height: 50px;
  top: 375px;
  border-top: 2px solid black;
  z-index: 104;
}
#windowFrameRight {
  width: 35px;
  height: 400px;
  left: 750px;
  top: 40px;
  border: 2px solid black;
  transform: rotate(-30deg);
  z-index: 101;
}

#windowFrameLeft {
  width: 35px;
  height: 400px;
  left: 210px;
  top: 40px;
  border: 2px solid black;
  transform: rotate(30deg);
  z-index: 102;
}
#windowShine {
  position: absolute;
  background-color: white;
  width: 200px;
  height: 500px;
  left: 900px;
  bottom: 300px;
  transform: rotate(-20deg);
  opacity: 0.2;
  z-index: 98;
}
/*-END, windowControlpanel-*/

/*-controlPanel-*/
#controlPanel {
  position: absolute;
  background-color: lightgrey;
  width: 1000px;
  height: 280px;
  bottom: 0px;
  z-index: 105;
}
#controlPanelText {
  position: absolute;
  color: black;
  font-size: 30px;
  font-family: Impact;
  letter-spacing: 5px;
  left: 375px;
  top: 400px;
  z-index: 200;
}
#display {
  position: absolute;
  background-color: rgb(70, 70, 70);
  width: 400px;
  height: 150px;
  left: 295px;
  bottom: 75px;
  border: 5px solid;
  border-color: black;
  border-radius: 20px;
  overflow: hidden;
  z-index: 106;
}
#displayShine {
  position: absolute;
  background-color: white;
  width: 200px;
  height: 250px;
  left: 330px;
  bottom: 5px;
  transform: rotate(-20deg);
  opacity: 0.2;
}
.usableButtons {
  position: absolute;
  width: 90px;
  height: 40px;
  bottom: 25px;
  border: 2px solid black;
  border-radius: 10px;
  z-index: 107;
}
#buttonBensin {
  background-color: yellow;
  left: 295px;
}
#buttonReise {
  background-color: lightblue;
  left: 400px;
}
#buttonNASA {
  background-color: orange;
  left: 505px;
}
#buttonDyr {
  background-color: lightgreen;
  left: 610px;
}
#leverPart1 {
  position: absolute;
  width: 10px;
  height: 160px;
  left: 740px;
  bottom: 75px;
  background-color: black;
  z-index: 108;
  border: 1px solid black;
  border-radius: 20px;
}
#leverPart2 {
  position: absolute;
  width: 90px;
  height: 40px;
  bottom: 25px;
}
/*-END, controlPanel-*/

/*-background-*/
#mountainLeft {
  position: absolute;
  background-color: darkgrey;
  width: 500px;
  height: 500px;
  left: 90px;
  top: 250px;
  transform: rotate(45deg);
  overflow: hidden;
  z-index: 100;
}
#mountainLeftTop  {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 100px;
  left: -50px;
  top: -50px;
  transform: rotate(-45deg);
}
#mountainRight  {
  position: absolute;
  background-color: rgb(150, 150, 150);
  width: 500px;
  height: 500px;
  left: 450px;
  top: 300px;
  transform: rotate(35deg);
  overflow: hidden;
  z-index: 99;
}
#mountainRightTop {
  position: absolute;
  background-color: white;
  width: 100px;
  height: 100px;
  left: -45px;
  top: -65px;
  transform: rotate(-35deg);
}
/*-END, background-*/
/*-END, Scene 3-*/

/*-END, SIDE 2-*/

/*-SIDE 3-*/
/*-Scene 4*/

/*-END, Scene 4*/
/*-Scene 5*/

/*-END, Scene 5*/
/*-END, SIDE 3-*/
